<a href="https://colab.research.google.com/github/KTM001/PDM01/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [12]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(6)

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062
2021-09-30 -0.247594  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679 -0.699500  0.096524
2021-10-02 -0.616031 -1.078464  1.159955 -0.506532

In [5]:
df.head(2)

                   A         B         C         D
2021-09-27  0.746370 -0.316511  0.095220 -0.669188
2021-09-28  1.181348  0.120550 -1.322995  0.380613

In [10]:
df.tail(3)

                   A         B         C         D
2021-09-30  0.660036  0.665383 -1.488970 -1.023081
2021-10-01 -1.265528 -0.203866  0.606394  0.471039
2021-10-02  0.222422  0.563114 -1.141267 -1.136049

In [11]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [15]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.134751  0.461621  0.634288 -0.116727
std    0.466031  1.790321  0.896171  0.646619
min   -0.616031 -1.078464 -0.699500 -1.128304
25%   -0.489723 -0.869043  0.166295 -0.414818
50%   -0.228003 -0.323483  0.690363 -0.021576
75%    0.157936  1.933910  1.242934  0.195178
max    0.553911  2.859679  1.705770  0.749565

In [16]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.134751  0.466031 -0.616031 -0.489723 -0.228003  0.157936  0.553911
B    6.0  0.461621  1.790321 -1.078464 -0.869043 -0.323483  1.933910  2.859679
C    6.0  0.634288  0.896171 -0.699500  0.166295  0.690363  1.242934  1.705770
D    6.0 -0.116727  0.646619 -1.128304 -0.414818 -0.021576  0.195178  0.749565

In [17]:
df

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062
2021-09-30 -0.247594  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679 -0.699500  0.096524
2021-10-02 -0.616031 -1.078464  1.159955 -0.506532

In [18]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    0.553911   -0.570433   -0.208412   -0.247594    0.280052   -0.616031
B   -0.640303   -0.006663   -0.945289    2.580768    2.859679   -1.078464
C    0.148136    1.270593    1.705770    0.220771   -0.699500    1.159955
D   -1.128304   -0.139677    0.228062    0.749565    0.096524   -0.506532

In [19]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [20]:
df

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062
2021-09-30 -0.247594  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679 -0.699500  0.096524
2021-10-02 -0.616031 -1.078464  1.159955 -0.506532

In [22]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

(                   A         B         C         D
 2021-09-27  0.553911 -0.640303  0.148136 -1.128304
 2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
 2021-09-29 -0.208412 -0.945289  1.705770  0.228062
 2021-09-30 -0.247594  2.580768  0.220771  0.749565
 2021-10-01  0.280052  2.859679 -0.699500  0.096524
 2021-10-02 -0.616031 -1.078464  1.159955 -0.506532,
                    A         B         C         D
 2021-10-02 -0.616031 -1.078464  1.159955 -0.506532
 2021-10-01  0.280052  2.859679 -0.699500  0.096524
 2021-09-30 -0.247594  2.580768  0.220771  0.749565
 2021-09-29 -0.208412 -0.945289  1.705770  0.228062
 2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
 2021-09-27  0.553911 -0.640303  0.148136 -1.128304)

In [23]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27  0.553911 -0.640303  0.148136 -1.128304
 2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
 2021-09-29 -0.208412 -0.945289  1.705770  0.228062
 2021-09-30 -0.247594  2.580768  0.220771  0.749565
 2021-10-01  0.280052  2.859679 -0.699500  0.096524
 2021-10-02 -0.616031 -1.078464  1.159955 -0.506532,
                    D         C         B         A
 2021-09-27 -1.128304  0.148136 -0.640303  0.553911
 2021-09-28 -0.139677  1.270593 -0.006663 -0.570433
 2021-09-29  0.228062  1.705770 -0.945289 -0.208412
 2021-09-30  0.749565  0.220771  2.580768 -0.247594
 2021-10-01  0.096524 -0.699500  2.859679  0.280052
 2021-10-02 -0.506532  1.159955 -1.078464 -0.616031)

#### Sort by value
- sort_values(by='column')

In [28]:
# Sorting by values:
df,df.sort_values(by='B', ascending=False)

(                   A         B         C         D
 2021-09-27  0.553911 -0.640303  0.148136 -1.128304
 2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
 2021-09-29 -0.208412 -0.945289  1.705770  0.228062
 2021-09-30 -0.247594  2.580768  0.220771  0.749565
 2021-10-01  0.280052  2.859679 -0.699500  0.096524
 2021-10-02 -0.616031 -1.078464  1.159955 -0.506532,
                    A         B         C         D
 2021-10-01  0.280052  2.859679 -0.699500  0.096524
 2021-09-30 -0.247594  2.580768  0.220771  0.749565
 2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
 2021-09-27  0.553911 -0.640303  0.148136 -1.128304
 2021-09-29 -0.208412 -0.945289  1.705770  0.228062
 2021-10-02 -0.616031 -1.078464  1.159955 -0.506532)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [29]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    0.553911
2021-09-28   -0.570433
2021-09-29   -0.208412
2021-09-30   -0.247594
2021-10-01    0.280052
2021-10-02   -0.616031
Freq: D, Name: A, dtype: float64

In [30]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062

In [35]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062
2021-09-30 -0.247594  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679 -0.699500  0.096524

#### Selecting data by label [중요!!]

> **loc, iloc**

In [36]:
df

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062
2021-09-30 -0.247594  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679 -0.699500  0.096524
2021-10-02 -0.616031 -1.078464  1.159955 -0.506532

In [37]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [38]:
df.loc[dates[0]]   # loc()

A    0.553911
B   -0.640303
C    0.148136
D   -1.128304
Name: 2021-09-27 00:00:00, dtype: float64

In [39]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  0.553911 -0.640303
2021-09-28 -0.570433 -0.006663
2021-09-29 -0.208412 -0.945289
2021-09-30 -0.247594  2.580768
2021-10-01  0.280052  2.859679
2021-10-02 -0.616031 -1.078464

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [46]:
# df.loc[0:2,['C','D']] # loc 함수는 인덱싱을 할 때 정수를 쓸 수 없다, 
# df.loc['20210928':'20210930',['C','D']] # 날짜 함수는 적은 날자 포함해서 나옴 (3개)
df.loc[dates[:2],['C','D']] # 첫번째, 두번째 나옴

                   C         D
2021-09-27  0.148136 -1.128304
2021-09-28  1.270593 -0.139677

#### Selecting data by position (iloc())
- index 사용

In [47]:
df

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062
2021-09-30 -0.247594  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679 -0.699500  0.096524
2021-10-02 -0.616031 -1.078464  1.159955 -0.506532

In [48]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨. 4번째행

A   -0.247594
B    2.580768
C    0.220771
D    0.749565
Name: 2021-09-30 00:00:00, dtype: float64

In [51]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27  0.148136 -1.128304
2021-09-28  1.270593 -0.139677

In [52]:
# Select one item
df.iloc[1,1]

-0.006663243369590019

In [54]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062

#### Selecting data by Boolean indexing

In [58]:
df

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-09-28 -0.570433 -0.006663  1.270593 -0.139677
2021-09-29 -0.208412 -0.945289  1.705770  0.228062
2021-09-30 -0.247594  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679 -0.699500  0.096524
2021-10-02 -0.616031 -1.078464  1.159955 -0.506532

In [61]:
df.A

2021-09-27    0.553911
2021-09-28   -0.570433
2021-09-29   -0.208412
2021-09-30   -0.247594
2021-10-01    0.280052
2021-10-02   -0.616031
Freq: D, Name: A, dtype: float64

In [59]:
df[df.A > 0]

                   A         B         C         D
2021-09-27  0.553911 -0.640303  0.148136 -1.128304
2021-10-01  0.280052  2.859679 -0.699500  0.096524

In [60]:
df[df > 0]

                   A         B         C         D
2021-09-27  0.553911       NaN  0.148136       NaN
2021-09-28       NaN       NaN  1.270593       NaN
2021-09-29       NaN       NaN  1.705770  0.228062
2021-09-30       NaN  2.580768  0.220771  0.749565
2021-10-01  0.280052  2.859679       NaN  0.096524
2021-10-02       NaN       NaN  1.159955       NaN